# Ignore everything by default
**

# Allow files needed for building the project
!src/
!tests/
!docs/
!source/
!pyproject.toml
!tox.ini
!README.md
!requirements.txt
!Makefile
!make.bat

# Allow .devcontainer directory and its contents
!.devcontainer/
!Dockerfile
!.dockerignore
!requirements-dev.txt

# Allow .gitignore file
!.gitignore

# Allow environment variables and files
!.env
!environment.yaml

# Allow pre-commit configuration file
!.pre-commit-config.yaml